# Data Preperation

Written by Abirlal Metya and Panini Dasgupta (IITM, Pune, 15/12/2019)

This piece of program will prepare the whole data set, including predictors and predicted variables.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [2]:
df = pd.DataFrame([])

for i in range(0,12):
    dff = pd.read_csv('/home/cccr/supriyo/panini/data_jgrjd/20CRV3/station_ano_1836-2015_'+str(i)+'.csv')
    dff['date'] = pd.to_datetime(dff['Unnamed: 0'])
    dff.drop(['Unnamed: 0','date'],axis=1)
    dff.index = dff.date
    dff = dff.iloc[:,1:2]
    
    df = pd.concat([df,dff],1)

In [ ]:
# df2 = pd.DataFrame([])

# for i in range(0,12):
#     dff2 = pd.read_csv('/home/cccr/supriyo/panini/data_jgrjd/20CRV3/station_ano_1946-1978_'+str(i)+'.csv')
#     dff2['date'] = pd.to_datetime(dff2['Unnamed: 0'])
#     dff2.drop(['Unnamed: 0','date'],axis=1)
#     dff2.index = dff2.date
#     dff2 = dff2.iloc[:,1:2]
    
#     df2 = pd.concat([df2,dff2],1)

In [4]:
# df3=pd.concat([df2,df],0)
# df3.to_csv('full_data_pressure_20CRV3.txt')
df.to_csv('full_data_pressure_20CRV3.txt')

In [5]:
rmm         = pd.read_csv('/home/cccr/supriyo/panini/data_jgrjd/rmm_index.csv')
rmm.columns = ['date','rmm1','rmm2']
rmm.index   = pd.to_datetime(rmm.date)
rmm         = rmm.iloc[:,1:3]

In [6]:
rmm[rmm.index==datetime.datetime(1979,1,1)]
rmm

                rmm1      rmm2
date
1974-06-01  1.634470  1.203040
1974-06-02  1.602890  1.015120
1974-06-03  1.516250  1.085510
1974-06-04  1.509810  1.035730
1974-06-05  1.559060  1.305180
...              ...       ...
2019-12-05 -0.308617 -0.550629
2019-12-06 -0.378380 -0.770791
2019-12-07 -0.322165 -0.869848
2019-12-08 -0.209663 -0.760325
2019-12-09 -0.392263 -0.758990

[16628 rows x 2 columns]

In [7]:
# data = pd.concat([df3,rmm],axis=1)
data = pd.concat([df,rmm],axis=1)

data = data.dropna()
data

,0,1,2,3,4,5,6,7,8,9,10,11,rmm1,rmm2
date,,,,,,,,,,,,,,
1974-06-01,20.195312,5.070312,-71.312500,-190.50000,114.109375,-19.578125,-182.218750,-37.101562,65.296875,197.273440,5.273438,20.242188,1.634470,1.203040
1974-06-02,55.953125,67.031250,-127.476560,-198.30469,36.312500,32.281250,-113.757810,-63.507812,18.390625,160.953120,-18.500000,-3.859375,1.602890,1.015120
1974-06-03,150.476560,164.500000,-155.210940,-216.64844,0.984375,148.531250,28.312500,-7.320312,1.773438,93.046875,12.250000,19.445312,1.516250,1.085510
1974-06-04,126.789060,156.117190,-91.117190,-271.12500,24.382812,167.062500,33.359375,-12.773438,11.078125,77.460940,40.179688,12.554688,1.509810,1.035730
1974-06-05,82.101560,117.468750,-30.351562,-283.02344,33.742188,110.210940,0.234375,81.484375,37.523438,77.289060,21.507812,46.929688,1.559060,1.305180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-27,344.875000,273.031250,191.890620,495.82812,245.671880,218.328120,318.570300,-205.992190,139.992190,-268.546880,161.031250,402.796880,0.762072,2.395581
2015-12-28,399.968750,376.898440,216.476560,560.95310,341.726560,322.367200,444.679700,-313.492200,172.843750,-284.445300,241.421880,419.515620,0.368710,2.602243
2015-12-29,296.078120,267.304700,408.718750,413.57030,438.023440,254.445310,326.203120,-308.796880,364.968750,-124.921875,316.492200,316.093750,0.099622,2.639220
2015-12-30,188.171880,135.570310,398.335940,358.77344,400.750000,89.648440,234.351560,-30.085938,388.843750,-34.507812,315.960940,264.625000,0.008535,2.443359
2015-12-31,251.976560,182.054690,221.554690,446.15625,212.656250,100.085940,315.984380,173.492190,249.562500,-141.109380,273.562500,371.578120,-0.113016,2.112524

Plot the cross-corelation heatmap

plt.figure(figsize=[16,8])
# calculate the correlation matrix
corr = data.corr()

# plot the heatmap
sns.heatmap(corr, cmap=sns.diverging_palette(220, 10, as_cmap=True),
            square=True,
        xticklabels=corr.columns,
        yticklabels=corr.columns)

Save the Data

In [8]:
data.to_csv('full_data_nn_20CR_V3.txt')